//MAIN PAGE
.overall{
    height: 100vh;
    width: 100%;
    background: $gradient-one;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and (max-width: 600px){
        height: auto;
        padding-bottom: 5rem;
    }
}


//HEADER - main page
.header{

    display: flex;
    justify-content: space-around;
    align-items: center;


    @media screen and (max-width: 600px){
        height: 20rem;

        flex-direction: column;
        justify-content: space-around;
    }   
}

//MAIN INFORMATION - main page
.location{
    text-shadow: $text-shadow-one;

    margin: 0 auto;
    width: 100%;


    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 600px){
        height: 50rem;
        padding: 4rem 0;
        margin-bottom: 6rem;

        flex-direction: column;
        justify-content: space-evenly;
    }

    //time area
    &__time{
        font-size: 3rem;
        flex: 0 0 30%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    //icon area
    &__icon{
        // width: 15rem;
        flex: 0 0 30%;

        display: flex;
        justify-content: center;
    }


    //temperature area
    &__temperature{
        flex: 0 0 40%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media screen and (max-width: 600px){
            order: -1;
            justify-content: center;
        }
    }

    //degree subarea
    &__degree-section{
        display: flex;
        align-items: center;
    }

    &__degree{
        font-size: 5rem;
    }

    &__span{
        margin-left: .5rem;
        font-size: 3rem;
    }

    //description subarea
    &__temperature-description{
        font-size: 3rem;
    }

   
}

//CHARTS
.charts{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;

    

    @media screen and (max-width: 600px){
        flex-direction: column;
    }


    &__chart{
        height: 25rem;
        width: 45%;

        text-align: center;
   
        &:first-child{
            margin-bottom: 2rem;
        }

        @media screen and (max-width: 600px){
            margin: 0 auto;
            width: 100%;
            height: 30rem;


            &:first-child{
                margin-bottom: 10rem;
            }
        }
    }
}


//DAYS DETAILS
.days{
    background: $gradient-two;
    // height: 90vh;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;

    align-items: center;


    &__details{
        padding-top: 5rem;
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    &__day{
        width: 90%;
        height: 10vh;
        margin: 0 auto;
        border-bottom: 1px dashed #fff;

        font-size: 1.5rem;
        text-shadow: $text-shadow-one;

        display: flex;
        justify-content: space-around;
        align-items: center;
        
        &:first-child{
            font-size: 2rem;

            @media screen and (max-width: 600px){
                display: none;
            }
        }

        & > * {
            text-align: center;
        }

        &:not(:first-child):hover{
            background: rgba(255, 255, 255, 0.05);
        }


        @media screen and (max-width: 600px){
            height: 17rem;
            padding: 1rem 0;
            font-size: 2rem;

            flex-wrap: wrap;
        }
    }

    //columns for each day{
    &__date{
        flex: 0 0 16%;

        @media screen and (max-width: 600px){
            order: 1;
            flex: 0 0 50%;
        }
    }

    &__name{
        flex: 0 0 12%;

        @media screen and (max-width: 600px){
            order: 2;
            flex: 0 0 50%;
        }
    }

    &__icon{
        flex: 0 0 15%;

        @media screen and (max-width: 600px){
            order: 4;
            flex: 0 0 50%;
        }
    }

    &__summary{
        text-align: center;
        flex: 1;
        
        @media screen and (max-width: 600px){
            order: 5;
        }
    }

    &__temp-min,
    &__temp-high{
        flex: 0 0 12%;

        &::after{
            content: " C";
        }

        @media screen and (max-width: 600px){
            order: 3;
            flex: 0 0 50%;
        }
    }   

    //ADD DESCRIPTION TO MIN AND MAX TEMPERATURE - BEFORE
    &__temp-min{
        @media screen and (max-width: 600px){
            &::before{
                content: "Min: " 
            }
        }
    }

    &__temp-high{
        @media screen and (max-width: 600px){
            &::before{
                content: "Max: " 
            }
        }
    }
}

//HOURS DETAILS
.hours{
    background: $gradient-one;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px){
        
    }

    //test

    &__details{
        width: 100%;
        padding-top: 5rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        height: 100vh;
    }

    &__hour{
        width: 45%;
        height: 10vh;
        margin: 0 auto;
        border-bottom: 1px dashed #fff;

        font-size: 1.5rem;
        text-shadow: $text-shadow-one;

        display: flex;
        justify-content: space-around;
        align-items: center;

        &:first-child{
            font-size: 2rem;
        }

        & > * {
            text-align: center;
        }

        &:not(:first-child):hover{
            background: rgba(138, 116, 116, 0.05);
        }
    }

    &__time{
        flex: 0 0 20%;
    }

    &__icon{
        flex: 0 0 20%;

        @media screen and (max-width: 600px){
            width: 20px;
        }
    }

    &__summary{
        flex: 1;
    }

    &__temp{
        flex: 0 0 15%;

        &::after{
            content: " C";
        }
    }
}